In [1]:
def return_stats(tensor, p=True, r=False):
    mean, std = tensor.mean(), tensor.std()
    min, max =  tensor.min(), tensor.max()

    if p:
        print(f"Min: {min}, Max: {max}, Mean: {mean}, Std: {std}")
    
    if r:  
        return min, max, mean, std

In [2]:
import os

path = "/kaggle/input/dig-4-bio-raman-transfer-learning-challenge"
files = os.listdir(path)
[(i, files[i]) for i in range(len(files))]

[(0, 'sample_submission.csv'),
 (1, 'timegate.csv'),
 (2, 'mettler_toledo.csv'),
 (3, 'kaiser.csv'),
 (4, 'anton_532.csv'),
 (5, 'transfer_plate.csv'),
 (6, '96_samples.csv'),
 (7, 'tornado.csv'),
 (8, 'tec5.csv'),
 (9, 'metrohm.csv'),
 (10, 'anton_785.csv')]

In [4]:
import pandas as pd

df = pd.read_csv(os.path.join(path, files[1]))
df

,200.925569,205.066898,209.205702,213.34198,217.475732,221.606958,225.735655,229.861825,233.985465,238.106575,...,1986.346421,1989.186168,1992.023478,1994.858351,1997.690789,glucose,Na_acetate,Mg_SO4,MSM_present,fold_idx
0,0.002535,0.002427,0.002327,0.002248,0.002108,0.002049,0.001927,0.001877,0.001767,0.001698,...,0.000087,0.000084,0.000102,0.000074,0.000094,0.000000,1.017310,0.000000,0.0,0
1,0.003631,0.003540,0.003338,0.003195,0.003070,0.002916,0.002789,0.002665,0.002522,0.002378,...,0.000150,0.000136,0.000146,0.000149,0.000151,0.270740,1.045500,0.000000,0.0,0
2,0.001688,0.001623,0.001571,0.001486,0.001440,0.001344,0.001290,0.001239,0.001176,0.001128,...,0.000079,0.000072,0.000083,0.000063,0.000074,0.000000,1.192280,0.000000,0.0,0
3,0.001294,0.001263,0.001200,0.001149,0.001110,0.001058,0.001006,0.000959,0.000929,0.000869,...,0.000060,0.000066,0.000066,0.000063,0.000065,0.257870,0.000000,0.000000,0.0,0
4,0.004135,0.003928,0.003792,0.003595,0.003484,0.003296,0.003162,0.003022,0.002829,0.002718,...,0.000167,0.000170,0.000156,0.000170,0.000168,4.778830,0.000000,0.023272,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,0.002949,0.002867,0.002736,0.002626,0.002482,0.002416,0.002288,0.002178,0.002095,0.001957,...,0.000123,0.000128,0.000127,0.000123,0.000127,0.346020,0.000000,0.000000,0.0,4
129,0.002331,0.002245,0.002147,0.002080,0.001962,0.001912,0.001822,0.001756,0.001657,0.001576,...,0.000118,0.000115,0.000116,0.000113,0.000109,0.000000,0.767730,3.945410,0.0,4
130,0.004277,0.004147,0.003946,0.003776,0.003590,0.003524,0.003312,0.003170,0.002981,0.002887,...,0.000458,0.000457,0.000470,0.000471,0.000469,6.459915,0.109961,0.000000,1.0,4
131,0.005071,0.004859,0.004679,0.004443,0.004292,0.004107,0.003913,0.003722,0.003519,0.003336,...,0.000248,0.000244,0.000251,0.000250,0.000258,10.161200,0.000000,1.477840,0.0,4
132,0.002622,0.002543,0.002438,0.002353,0.002226,0.002162,0.002041,0.001949,0.001849,0.001758,...,0.000122,0.000129,0.000109,0.000131,0.000119,0.253690,0.000000,0.022609,1.0,4

In [8]:
df.columns[::-1]

Index(['fold_idx', 'MSM_present', 'Mg_SO4', 'Na_acetate', 'glucose',
       '1997.690789', '1994.858351', '1992.023478', '1989.186168',
       '1986.346421',
       ...
       '238.106575', '233.985465', '229.861825', '225.735655', '221.606958',
       '217.475732', '213.34198', '209.205702', '205.066898', '200.925569'],
      dtype='object', length=516)

In [ ]:
import pandas as pd

df = pd.read_csv(os.path.join(path, files[5]))
cols = df.columns[1:-4]
df = df[cols]
df['Unnamed: 1'] = df['Unnamed: 1'].str.replace('[\[\]]', '', regex=True).astype('int64')
df['Unnamed: 2048'] = df['Unnamed: 2048'].str.replace('[\[\]]', '', regex=True).astype('int64')

In [ ]:
df = df.to_numpy()
df = df[0::2] / df[1::2]
df.shape

In [ ]:
test = pd.read_csv(os.path.join(path, files[6]))

row1 = test.columns[1:].to_numpy().copy()
row1[-1] = "5611"
row1 = row1.astype(np.float64)


cols = test.columns[1:]
test = test[cols]
test[" 5611]"] = test[" 5611]"].str.replace('[\[\]]', '', regex=True).astype('int64')
test = test.to_numpy()

test = np.insert(test, 0, row1, axis=0)
#test = test.reshape(-1, 2, 2048).reshape(96, 4096)
test = test[0::2] / test[1::2]
test = test.astype(np.float32)
test.shape, test.dtype

In [ ]:
return_stats(df, True)

In [ ]:
return_stats(test, True)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

def plot_random_signal(train_array, test_array, seed=None):
    """
    Randomly select one signal from train and one from test,
    and plot them in separate figures.
    """
    if seed is not None:
        np.random.seed(seed)

    # Randomly select one index from train and one from test
    train_idx = np.random.randint(0, train_array.shape[0])
    test_idx = np.random.randint(0, test_array.shape[0])

    # Extract the signals
    train_signal = train_array[train_idx]
    test_signal = test_array[test_idx]

    # Plot train signal
    plt.figure(figsize=(20, 4))
    plt.plot(train_signal, color='blue')
    plt.title(f"Random Train Signal (index={train_idx})")
    plt.xlabel("Time/Index")
    plt.ylabel("Value")
    plt.show()

    # Plot test signal
    plt.figure(figsize=(20, 4))
    plt.plot(test_signal, color='orange')
    plt.title(f"Random Test Signal (index={test_idx})")
    plt.xlabel("Time/Index")
    plt.ylabel("Value")
    plt.show()

# Example usage:
plot_random_signal(df, test)

In [ ]:
targets = pd.read_csv(os.path.join(path, files[5]))
cols = targets.columns[-3:]
targets = targets[cols].dropna().to_numpy()
targets.shape

In [ ]:
[return_stats(targets[:, i]) for i in range(3)]

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

def plot_random_sample(train_array, eval_array, dataset='train', seed=None):
    """
    Plot both channels of a randomly selected sample from train or eval set.
    Each channel is shown row-wise (one above the other).

    Parameters:
    - train_array: numpy array of shape (N_train, 2, 2048)
    - eval_array: numpy array of shape (N_eval, 2, 2048)
    - dataset: 'train' or 'eval' to choose which set to sample from
    - seed: optional integer for reproducibility
    """
    if seed is not None:
        np.random.seed(seed)

    # Choose dataset
    if dataset == 'train':
        data = train_array
    elif dataset == 'eval':
        data = eval_array
    else:
        raise ValueError("dataset must be 'train' or 'eval'")

    # Pick a random sample index
    idx = np.random.randint(0, data.shape[0])

    # Extract the two channels (shape: (2, 2048))
    sample = data[idx]

    # Create a time axis (just sample indices here)
    time_axis = np.arange(sample.shape[1])

    # Create figure with two rows for two channels
    fig, axs = plt.subplots(2, 1, figsize=(20, 10), sharex=True)

    # Plot channel 1
    axs[0].plot(time_axis, sample[0], color='b')
    axs[0].set_title(f"Channel 1 - Sample #{idx} ({dataset} set)")
    axs[0].set_ylabel("Amplitude")

    # Plot channel 2
    axs[1].plot(time_axis, sample[1], color='g')
    axs[1].set_title(f"Channel 2 - Sample #{idx} ({dataset} set)")
    axs[1].set_xlabel("Sample index")
    axs[1].set_ylabel("Amplitude")

    plt.tight_layout()
    plt.show()

plot_random_sample(df, test)
plot_random_sample(df, test, "eval")

In [ ]:
import random
index = random.randint(0, 95)

print((df[index][0] == df[index][1]).sum())
return_stats(df[index][0])
return_stats(df[index][1])
print(np.allclose(df[index][0], df[index][1]))