In [4]:
import os

path = "/kaggle/input/dig-4-bio-raman-transfer-learning-challenge"
files = os.listdir(path)
[(i, files[i]) for i in range(len(files))]

[(0, 'sample_submission.csv'),
 (1, 'timegate.csv'),
 (2, 'mettler_toledo.csv'),
 (3, 'kaiser.csv'),
 (4, 'anton_532.csv'),
 (5, 'transfer_plate.csv'),
 (6, '96_samples.csv'),
 (7, 'tornado.csv'),
 (8, 'tec5.csv'),
 (9, 'metrohm.csv'),
 (10, 'anton_785.csv')]

In [9]:
import pandas as pd

df = pd.read_csv(os.path.join(path, files[6]))
df

,sample1,6409,7097,8247,9853,11768,14434,19349,36210,65535,...,1709,1706.1,1598.3,1627.2,1653,1008,1035,1061,1282.5,5611]
0,NaN,6445,7147,8385,9837,11930,14613,19526,37225,65535,...,1668,1659,1594,1625,1656,1022,1020,1057,1301,5731]
1,sample2,5749,6351,7447,8777,10491,12729,17102,32323,65535,...,1650,1617,1544,1558,1617,1012,1012,1059,1295,5112]
2,NaN,5888,6475,7461,8822,10565,12960,17295,32686,65535,...,1629,1644,1551,1545,1559,1013,1036,1070,1274,5161]
3,sample3,6247,6975,8166,9554,11401,14010,18883,35979,65535,...,1687,1705,1602,1634,1620,1008,1016,1051,1278,5513]
4,NaN,6376,7074,8328,9823,11846,14419,19359,36710,65535,...,1721,1711,1594,1652,1603,1007,1018,1056,1259,5659]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,NaN,6101,6945,8118,9620,11647,14123,18593,35243,65535,...,1685,1701,1573,1638,1615,1037,1003,1039,1271,5402]
187,sample95,6579,7337,8605,10249,12368,14983,19810,37117,65535,...,1658,1690,1569,1585,1640,1001,1007,1043,1260,5863]
188,NaN,6283,7057,8234,9832,11784,14313,19266,35806,65535,...,1680,1678,1563,1607,1641,984,1002,1044,1241,5601]
189,sample96,6102,6821,7989,9493,11505,13939,18305,34519,65535,...,1679,1657,1553,1606,1631,994,991,1052,1272,5458]
190,NaN,6190,6855,8001,9617,11502,14137,18571,35071,65535,...,1656,1687,1553,1611,1614,973,1011,1012,1252,5456]

In [52]:
def load_comp_data(filepath, is_train=True):
    """Load and preprocess the Raman spectroscopy data"""
    if is_train:
        df = pd.read_csv(filepath)
        # Extract target variables
        target_cols = ['Glucose (g/L)', 'Sodium Acetate (g/L)', 'Magnesium Acetate (g/L)']
        y = df[target_cols].dropna().values
        
        # Process spectral data
        X = df.iloc[:, :-4] # Remove last 4 columns (analyte info and targets)
    else:
        df = pd.read_csv(filepath, header=None)
        X = df
        y = None
    
    # Set column names
    X.columns = ["sample_id"] + [str(i) for i in range(X.shape[1]-1)]
    
    # Fill sample_id using forward fill
    X['sample_id'] = X['sample_id'].ffill()
    
    # Clean sample_id
    if is_train:
        X['sample_id'] = X['sample_id'].str.strip()
    else:
        X['sample_id'] = X['sample_id'].str.strip().str.replace('sample', '').astype(int)
    
    # Clean spectral data (remove brackets)
    spectral_cols = X.columns[1:]
    for col in spectral_cols:
        X[col] = X[col].astype(str).str.replace('[', '', regex=False).str.replace(']', '', regex=False)
        X[col] = pd.to_numeric(X[col], errors='coerce')

    return X, y


inputs, targets = load_comp_data(os.path.join(path, files[5]))
inputs, targets

(    sample_id     0     1     2      3      4      5      6      7      8  \
 0     sample1  6293  7095  8325   9934  11917  14394  18925  34874  65535
 1     sample1  6505  7332  8482  10175  12132  14792  19594  35813  65535
 2     sample2  6478  7158  8444   9979  11932  14503  19309  35118  65535
 3     sample2  6511  7308  8520  10205  12260  14777  19569  35825  65535
 4     sample3  6561  7342  8562  10166  12202  14838  19593  35869  65535
 ..        ...   ...   ...   ...    ...    ...    ...    ...    ...    ...
 187  sample94  6652  7453  8641  10270  12168  15014  20000  36732  65535
 188  sample95  6798  7514  8786  10431  12372  15419  20547  37854  65535
 189  sample95  6764  7534  8828  10532  12454  15504  20566  37705  65535
 190  sample96  6847  7545  8795  10452  12588  15515  20492  37710  65535
 191  sample96  6811  7577  8818  10471  12570  15407  20425  37509  65535

      ...  2038  2039  2040  2041  2042  2043  2044  2045  2046  2047
 0    ...  1673  1700  1592  1603  1616  1024  1013  1067  1277  5618
 1    ...  1686  1698  1628  1626  1655  1004  1032  1049  1271  5756
 2    ...  1720  1706  1573  1615  1651  1024  1009  1049  1275  5685
 3    ...  1668  1676  1611  1618  1623  1021  1008  1026  1250  5839
 4    ...  1651  1680  1608  1601  1638  1010  1012  1047  1307  5801
 ..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 187  ...  1693  1659  1570  1620  1619  1026  1025  1078  1294  5834
 188  ...  1699  1695  1583  1649  1587  1035  1033  1063  1271  5985
 189  ...  1710  1720  1608  1632  1640  1030  1006  1073  1280  5925
 190  ...  1711  1716  1599  1655  1667  1052  1019  1048  1266  6056
 191  ...  1690  1688  1588  1632  1644  1030  1010  1065  1293  5975

 [192 rows x 2049 columns],
 array([[ 4.61928175,  1.93717196,  1.0529281 ],
        [ 5.78271763,  1.17590196,  1.21473752],
        [ 3.95344763,  1.35047324,  2.13245934],
        [ 2.03808365,  0.94804543,  1.38023962],
        [ 4.97829455,  0.4597653 ,  2.53962152],
        [ 4.26255283,  0.33606347,  1.55097026],
        [ 7.81911158,  0.84605799,  0.78545804],
        [ 9.39095418,  1.36481141,  1.67622184],
        [ 6.71393524,  1.85394048,  2.05420628],
        [ 8.77933741,  1.36196751,  1.81236406],
        [ 8.60530133,  2.05671118,  0.82304934],
        [11.47050932,  1.44582298,  2.12340196],
        [10.62416263,  0.98075173,  1.42950668],
        [ 8.60863272,  0.45604477,  1.90515359],
        [ 4.77516636,  1.56874649,  1.77771621],
        [ 5.41682291,  1.38465931,  1.30641963],
        [ 5.98264914,  2.05812229,  2.44401604],
        [ 2.91675223,  1.09615114,  2.71921546],
        [ 4.01561511,  1.14139841,  0.81211405],
        [ 7.86481436,  0.41879233,  1.77974233],
        [ 7.0336022 ,  1.11341379,  2.62297416],
        [ 4.63444037,  1.21067918,  1.46844841],
        [11.76384273,  0.64460786,  2.03925151],
        [ 7.06663927,  1.76515395,  1.70761505],
        [ 5.28732212,  1.49598864,  2.19346639],
        [ 9.04804494,  1.53264815,  0.52809268],
        [ 3.60133962,  2.11161155,  1.9464833 ],
        [11.66420276,  0.93201665,  1.36137702],
        [11.40988742,  0.64638231,  2.18310352],
        [ 8.3232303 ,  0.76622375,  1.9538465 ],
        [ 8.75754318,  0.40918819,  2.07676263],
        [ 9.85280872,  0.90928483,  0.41057564],
        [11.88990894,  0.45240199,  1.89974489],
        [ 2.72021257,  1.00250899,  2.01551421],
        [ 7.76504118,  2.09076562,  0.71766902],
        [ 4.75477125,  0.74362377,  1.90775563],
        [ 4.52940995,  1.48369555,  2.06125639],
        [ 5.32125667,  0.97223225,  0.56436423],
        [11.32821111,  0.32483234,  0.94218066],
        [ 8.83188842,  0.96871635,  2.29974441],
        [ 9.00323171,  1.33257785,  0.87124111],
        [ 6.93224242,  1.61613343,  2.09378596],
        [ 7.8204765 ,  0.3755003 ,  1.63367399],
        [ 7.33805765,  1.2587563 ,  2.68552439],
        [ 8.25493763,  0.62168654,  0.81490379],
        [ 1.99367094,  1.37044228,  1.36622034],
        [ 1.65554257,  1.03547546,  0.5896289 ],
        [ 9.86801188,  1.76032417,  1.13750822],
        [ 3.44304751,  1.74616976,  2.34249426],
        [ 6.33023497,  1.90585559,  1.15934608],
        [10.50077037,  0.82037465,  0.44527167],
        [ 5.75595558,  1.84712163,  0.83756957],
        [11.88797447,  0.27652649,  0.48741216],
        [ 6.60320121,  1.39082752,  2.18005769],
        [ 5.00583663,  1.92672382,  1.24765165],
        [ 2.94854779,  0.4336746 ,  0.63496886],
        [ 9.2956368 ,  0.75327034,  2.48833399],
        [ 4.22379128,  1.04726381,  1.16674602],
        [ 8.09150207,  1.4689351 ,  2.43418065],
        [ 3.66615301,  2.03091538,  2.48869294],
        [10.07431357,  0.80252206,  0.81270118],
        [ 4.39422272,  0.65949371,  1.6622704 ],
        [ 8.16304373,  0.45431069,  1.74325599],
        [ 1.75523885,  1.43104346,  1.45655287],
        [11.06393642,  0.84418018,  2.43444795],
        [11.0758554 ,  0.40679548,  1.39243091],
        [ 2.57610017,  1.27695712,  1.3435141 ],
        [ 4.64941082,  0.38977086,  1.62001021],
        [ 7.88487036,  1.2249483 ,  1.64119984],
        [ 2.08360351,  1.48710995,  0.74559181],
        [ 8.08502812,  1.99276719,  1.99685782],
        [ 7.70364374,  0.42172974,  2.66452996],
        [ 3.27248416,  2.02393148,  2.46203489],
        [ 7.0801004 ,  1.20492333,  2.47007827],
        [11.85514049,  0.44591536,  0.65675043],
        [ 9.70468477,  1.13204733,  2.23542345],
        [ 2.71704553,  0.64764679,  0.58181114],
        [ 5.21982291,  0.31594611,  1.40303836],
        [ 7.42975018,  1.65941642,  1.55794434],
        [ 7.88188978,  1.84594013,  0.83709795],
        [ 3.98472731,  1.35359048,  1.99967784],
        [ 6.37035032,  1.92651591,  1.48926091],
        [ 5.8843113 ,  2.01611257,  0.77666174],
        [11.46373843,  0.787345  ,  1.92765831],
        [ 8.08312305,  0.52936914,  1.45091072],
        [ 9.20738625,  2.00938835,  1.57564031],
        [11.00470205,  1.98149517,  0.40998796],
        [ 3.36731976,  0.84633773,  2.35640935],
        [ 5.71933636,  0.96839345,  0.43460272],
        [ 2.37149351,  1.45421975,  1.9690929 ],
        [11.42393065,  0.46768627,  0.42993042],
        [ 6.27853056,  0.4708646 ,  1.72341651],
        [ 9.52075699,  1.22403262,  2.47923985],
        [ 6.53108896,  1.76205141,  1.42937963],
        [ 3.36937245,  1.40002913,  2.64792509],
        [ 5.89370796,  1.89813128,  1.40632909]]))

In [55]:
import numpy as np
import pandas as pd


def load_transfer_data():
    csv_path = os.path.join(path, files[5])
    df = pd.read_csv(csv_path)

    input_cols = df.columns[1:2049]
    target_cols = df.columns[2050:]

    targets  = df[target_cols].dropna().to_numpy()

    df = df[input_cols]
    df['Unnamed: 1'] = df['Unnamed: 1'].str.replace("[\[\]]", "", regex=True).astype('int64')
    df['Unnamed: 2048'] = df['Unnamed: 2048'].str.replace("[\[\]]", "", regex=True).astype('int64')

    inputs = df.to_numpy().reshape(-1, 2, 2048)
    inputs = inputs.mean(axis=1)
    
    return inputs, targets


def preprocess_transfer_data():
    inputs, targets = load_transfer_data()
    
    spectra_selection = np.logical_and(
        300 <= np.array([float(one) for one in range(2048)]),
        np.array([float(one) for one in range(2048)]) <= 1942,
    )
    
    inputs = inputs[:, spectra_selection]
    
    wns = np.array([
        float(one) for one in range(2048)
    ])[spectra_selection]
    wavenumbers = np.arange(300, 1943)
    
    interpolated_data = np.array(
        [np.interp(wavenumbers, xp=wns, fp=i) for i in inputs]
    )
    
    normed_spectra = interpolated_data / np.max(interpolated_data)
    return normed_spectra, targets

i, t = preprocess_transfer_data()
i.shape, t.shape

((96, 1643), (96, 3))

In [53]:
inputs = inputs.drop('sample_id', axis=1).values.reshape(-1, 2, 2048).mean(axis=1)
inputs

array([[6399. , 7213.5, 8403.5, ..., 1058. , 1274. , 5687. ],
       [6494.5, 7233. , 8482. , ..., 1037.5, 1262.5, 5762. ],
       [6550. , 7343. , 8545.5, ..., 1053. , 1306.5, 5823. ],
       ...,
       [6666. , 7354.5, 8598.5, ..., 1071.5, 1288.5, 5841.5],
       [6781. , 7524. , 8807. , ..., 1068. , 1275.5, 5955. ],
       [6829. , 7561. , 8806.5, ..., 1056.5, 1279.5, 6015.5]])

In [56]:
i

array([[0.97299983, 0.95949975, 0.95461322, ..., 0.42661918, 0.41394732,
        0.41195958],
       [0.96513169, 0.95386782, 0.94931257, ..., 0.42405168, 0.41717741,
        0.41253934],
       [0.97672685, 0.96024515, 0.95800894, ..., 0.4226437 , 0.41477555,
        0.41659765],
       ...,
       [0.95759483, 0.9431837 , 0.93597813, ..., 0.4189995 , 0.40723869,
        0.40988902],
       [0.96720225, 0.9501408 , 0.94409475, ..., 0.41924797, 0.41634918,
        0.41668047],
       [0.9750704 , 0.95991386, 0.95378499, ..., 0.4189995 , 0.41485837,
        0.4156866 ]])

In [54]:
inputs = fix_val_test_shape(inputs)
inputs / inputs.max()

array([[0.96486347, 0.96433742, 0.95887131, ..., 0.14550203, 0.14882057,
        0.14882057],
       [0.96486347, 0.96487858, 0.96503565, ..., 0.14494311, 0.14660238,
        0.14660238],
       [0.96688001, 0.96661093, 0.96381505, ..., 0.14461416, 0.1470561 ,
        0.1470561 ],
       ...,
       [0.94605924, 0.94614692, 0.94705793, ..., 0.14493574, 0.147409  ,
        0.147409  ],
       [0.96309899, 0.96300225, 0.96199699, ..., 0.1453768 , 0.14882057,
        0.14882057],
       [0.96299817, 0.96324305, 0.96578762, ..., 0.14481857, 0.14866933,
        0.14866933]])

In [47]:
def fix_val_test_shape(X):
    lower_wns = 300
    upper_wns = 1942
    joint_wns = np.arange(lower_wns, upper_wns + 1)
    spectral_values = np.linspace(65, 3350, 2048)

    spectra_selection = np.logical_and(
        lower_wns <= spectral_values, spectral_values <= upper_wns,
    )
    wns = spectral_values[spectra_selection]
    X = X[:, spectra_selection]
    X = np.array([np.interp(joint_wns, xp=wns, fp=spectrum,)for spectrum in X])
    return X